[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-versatilemetronome
Exec=harbour-versatilemetronome
Name=Versatime Metronome
